{
  "openapi": "3.0.3",
  "info": {
    "description": "This is API generated from kanga.exchange code.",
    "version": "1.0.0",
    "title": "Kanga.exchange API",
    "termsOfService": "http://kanga.exchange",
    "contact": {
      "email": "support@kanga.exchange"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "components": {
    "securitySchemes": {
      "SignatureAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-sig",
        "description": "Signed payload with your private key using sha512 hashing function (HMAC_SHA512)."
      },
      "AdminAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "auth",
        "description": "Valid ADMIN session required to perform this call."
      },
      "UserAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "auth",
        "description": "Valid USER session required to perform this call."
      }
    }
  },
  "servers": [
    {
      "url": "https://kanga.exchange",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/markets": {
      "post": {
        "tags": [
          "market"
        ],
        "summary": "List of markets",
        "description": "Returns all markets on exchange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "format": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "string"
                          },
                          "buyingCurrency": {
                            "type": "string",
                            "format": "string"
                          },
                          "payingCurrency": {
                            "type": "string",
                            "format": "string"
                          },
                          "minAmount": {
                            "type": "string",
                            "format": "string"
                          },
                          "type": {
                            "type": "string",
                            "format": "string"
                          },
                          "mainMarket": {
                            "type": "boolean",
                            "format": "boolean"
                          },
                          "pricePrecision": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "index": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "available": {
                            "type": "string",
                            "format": "string"
                          },
                          "opening": {
                            "type": "string",
                            "format": "string"
                          },
                          "ecoOpening": {
                            "type": "string",
                            "format": "string"
                          },
                          "lastPrice": {
                            "type": "string",
                            "format": "string"
                          },
                          "change": {
                            "type": "string",
                            "format": "string"
                          },
                          "volume": {
                            "type": "string",
                            "format": "string"
                          },
                          "bidsAvailableSince": {
                            "type": "string",
                            "format": "string"
                          },
                          "asksAvailableSince": {
                            "type": "string",
                            "format": "string"
                          }
                        },
                        "required": [
                          "id",
                          "buyingCurrency",
                          "payingCurrency",
                          "minAmount",
                          "type",
                          "mainMarket",
                          "pricePrecision",
                          "index",
                          "bidsAvailableSince",
                          "asksAvailableSince"
                        ]
                      }
                    }
                  },
                  "required": [
                    "result",
                    "items"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/market/ticker": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Market tickers",
        "description": "Returns market tickers for 24 hour period.",
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v2/market/order/create": {
      "post": {
        "tags": [
          "trade"
        ],
        "summary": "Create new order",
        "description": "Create new order and in case of success returns orderId .",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nonce": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "appId": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "BID",
                      "ASK"
                    ]
                  },
                  "quantity": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "BID",
                      "ASK"
                    ]
                  },
                  "price": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "BID",
                      "ASK"
                    ]
                  },
                  "valueLimit": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "BID",
                      "ASK"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "BID",
                      "ASK"
                    ]
                  },
                  "market": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "BID",
                      "ASK"
                    ]
                  },
                  "__rawBody__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "BID",
                      "ASK"
                    ]
                  },
                  "__apiSig__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "BID",
                      "ASK"
                    ]
                  }
                },
                "required": [
                  "nonce",
                  "appId",
                  "quantity",
                  "type",
                  "market",
                  "__rawBody__",
                  "__apiSig__"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "orderId": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "ok"
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "orderId"
                      ],
                      "description": "Id of the new order"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            401
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong signature"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            403
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong permissions"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            429
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Too many calls"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            1001
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Incorrect values"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            1002
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Not enough funds"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            1003
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "KYC required"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            1004
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Can't sell on market"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            1005
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Min amount not exceeded"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            1006
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wallet is locked"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            1008
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong order parameters"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            1100
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Account problem"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/market/orderbook/raw": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Raw Order book",
        "description": "Returns order book for a given market.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "market": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  }
                },
                "required": [
                  "market"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer",
                      "format": "int64",
                      "enum": [
                        1100
                      ]
                    },
                    "bids": {
                      "type": "object"
                    },
                    "asks": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "timestamp",
                    "bids",
                    "asks"
                  ],
                  "description": "Order book"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/market/order/cancel": {
      "post": {
        "tags": [
          "trade"
        ],
        "summary": "Cancel order",
        "description": "Cancel given order.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nonce": {
                    "type": "integer",
                    "format": "int64",
                    "enum": [
                      1100
                    ]
                  },
                  "appId": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "orderId": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "__rawBody__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "__apiSig__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  }
                },
                "required": [
                  "nonce",
                  "appId",
                  "orderId",
                  "__rawBody__",
                  "__apiSig__"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "orderId": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "ok"
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "orderId"
                      ],
                      "description": "Order was canceled successfully"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            401
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong signature"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            403
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong permissions"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            429
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Too many calls"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            1001
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Order wasn't cancelled"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/market/order/history/list": {
      "post": {
        "tags": [
          "trade"
        ],
        "summary": "Orders history",
        "description": "Returns up to 50 last executed or canceled orders",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nonce": {
                    "type": "integer",
                    "format": "int64",
                    "enum": [
                      1001
                    ]
                  },
                  "appId": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "market": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "__rawBody__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "__apiSig__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  }
                },
                "required": [
                  "nonce",
                  "appId",
                  "market",
                  "__rawBody__",
                  "__apiSig__"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "orders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "quantity": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "remainingQuantity": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "price": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "currentValue": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "state": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "created": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "closed": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "quantity",
                              "remainingQuantity",
                              "price",
                              "currentValue",
                              "state",
                              "created"
                            ]
                          }
                        }
                      },
                      "required": [
                        "result",
                        "orders"
                      ],
                      "description": "List of executed or canceled orders"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            401
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong signature"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            403
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong permissions"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            429
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Too many calls"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/market/trades": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Market trades",
        "description": "Returns market trades for a given market.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "market": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  }
                },
                "required": [
                  "market"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer",
                      "format": "int64",
                      "enum": [
                        429
                      ]
                    },
                    "trades": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trade_id": {
                            "type": "string",
                            "format": "string",
                            "enum": [
                              "fail"
                            ]
                          },
                          "price": {
                            "type": "string",
                            "format": "string",
                            "enum": [
                              "fail"
                            ]
                          },
                          "base_volume": {
                            "type": "string",
                            "format": "string",
                            "enum": [
                              "fail"
                            ]
                          },
                          "quote_volume": {
                            "type": "string",
                            "format": "string",
                            "enum": [
                              "fail"
                            ]
                          },
                          "type": {
                            "type": "string",
                            "format": "string",
                            "enum": [
                              "fail"
                            ]
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64",
                            "enum": [
                              429
                            ]
                          }
                        },
                        "required": [
                          "trade_id",
                          "price",
                          "base_volume",
                          "quote_volume",
                          "type",
                          "timestamp"
                        ]
                      }
                    }
                  },
                  "required": [
                    "timestamp",
                    "trades"
                  ],
                  "description": "Market trades"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/market/order/book": {
      "post": {
        "tags": [
          "market"
        ],
        "summary": "Order book",
        "description": "Returns list of orders from order book. Cached for 2 sec.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nonce": {
                    "type": "integer",
                    "format": "int64",
                    "enum": [
                      429
                    ]
                  },
                  "appId": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "market": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "__rawBody__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "__apiSig__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  }
                },
                "required": [
                  "nonce",
                  "appId",
                  "market",
                  "__rawBody__",
                  "__apiSig__"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "bids": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "remaining": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "price": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              }
                            },
                            "required": [
                              "remaining",
                              "price"
                            ]
                          }
                        },
                        "asks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "remaining": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "price": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              }
                            },
                            "required": [
                              "remaining",
                              "price"
                            ]
                          }
                        }
                      },
                      "required": [
                        "result",
                        "bids",
                        "asks"
                      ],
                      "description": "List of orders"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            401
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong signature"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            403
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong permissions"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            429
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Too many calls"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/market/order/list": {
      "post": {
        "tags": [
          "trade"
        ],
        "summary": "List of active orders",
        "description": "Returns up to 100 active orders from given market",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nonce": {
                    "type": "integer",
                    "format": "int64",
                    "enum": [
                      429
                    ]
                  },
                  "appId": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "market": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "__rawBody__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "__apiSig__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  }
                },
                "required": [
                  "nonce",
                  "appId",
                  "market",
                  "__rawBody__",
                  "__apiSig__"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "orders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "quantity": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "remainingQuantity": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "price": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "currentValue": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "created": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "quantity",
                              "remainingQuantity",
                              "price",
                              "currentValue",
                              "created"
                            ]
                          }
                        }
                      },
                      "required": [
                        "result",
                        "orders"
                      ],
                      "description": "List of active orders"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            401
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong signature"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            403
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong permissions"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            429
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Too many calls"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/market/changes": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Changes on a specific market",
        "description": "Returns raw changes data for a market procided.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "market": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  }
                },
                "required": [
                  "market"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "price": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "minPrice": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "maxPrice": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "highestBid": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "lowestAsk": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "volume": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "volume24": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "quantityVolume24": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "weeklyVolume": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "monthlyVolume": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "change": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "changeQuantity": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        }
                      },
                      "required": [
                        "timestamp"
                      ],
                      "description": "Market changes"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/market/depth": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Order book",
        "description": "Returns order book for a given market.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "market": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  }
                },
                "required": [
                  "market"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "format": "string",
                      "enum": [
                        "fail"
                      ]
                    },
                    "bids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "string",
                            "format": "string",
                            "enum": [
                              "fail"
                            ]
                          },
                          "quantity": {
                            "type": "string",
                            "format": "string",
                            "enum": [
                              "fail"
                            ]
                          }
                        },
                        "required": [
                          "price",
                          "quantity"
                        ]
                      }
                    },
                    "asks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "string",
                            "format": "string",
                            "enum": [
                              "fail"
                            ]
                          },
                          "quantity": {
                            "type": "string",
                            "format": "string",
                            "enum": [
                              "fail"
                            ]
                          }
                        },
                        "required": [
                          "price",
                          "quantity"
                        ]
                      }
                    }
                  },
                  "required": [
                    "timestamp",
                    "bids",
                    "asks"
                  ],
                  "description": "Order book"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/list": {
      "post": {
        "tags": [
          "wallet"
        ],
        "summary": "Get actual balance of given sub-account",
        "description": "Get actual balance of given sub-account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nonce": {
                    "type": "integer",
                    "format": "int64",
                    "enum": [
                      9002
                    ]
                  },
                  "appId": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "__rawBody__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "__apiSig__": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  },
                  "walletKey": {
                    "type": "string",
                    "format": "string",
                    "enum": [
                      "fail"
                    ]
                  }
                },
                "required": [
                  "nonce",
                  "appId",
                  "__rawBody__",
                  "__apiSig__"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "wallets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "currencyCode": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "value": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "lockedValue": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              },
                              "address": {
                                "type": "string",
                                "format": "string",
                                "enum": [
                                  "ok"
                                ]
                              }
                            },
                            "required": [
                              "currencyCode",
                              "value",
                              "lockedValue"
                            ]
                          }
                        }
                      },
                      "required": [
                        "result",
                        "wallets"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            9000
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Signature invalid"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            9001
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "No permissions for app"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "format": "string",
                          "enum": [
                            "fail"
                          ]
                        },
                        "code": {
                          "type": "integer",
                          "format": "int64",
                          "enum": [
                            9002
                          ]
                        }
                      },
                      "required": [
                        "result",
                        "code"
                      ],
                      "description": "Wrong wallet key"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}
